{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "description": "Creates an Azure Data Lake Store account management client.",
        "title": "DataLakeStoreAccountManagementClient",
        "version": "2016-11-01",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/account.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "datalake-store-account",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/providers/Microsoft.DataLakeStore/operations": {
            "get": {
                "description": "Lists all of the available Data Lake Store REST API operations.",
                "operationId": "Operations_List",
                "parameters": [
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully listed the available operations for Data Lake Store.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The list of available operations for Data Lake Store.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "The link (url) to the next page of results.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "The results of the list operation.",
                                            "items": {
                                                "description": "An available operation for Data Lake Store.",
                                                "properties": {
                                                    "display": {
                                                        "description": "The display information for the operation.",
                                                        "properties": {
                                                            "description": {
                                                                "description": "A friendly description of the operation.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "operation": {
                                                                "description": "A friendly name of the operation.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "provider": {
                                                                "description": "The resource provider of the operation.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "resource": {
                                                                "description": "The resource type of the operation.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "name": {
                                                        "description": "The name of the operation.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "origin": {
                                                        "description": "The intended executor of the operation.",
                                                        "enum": [
                                                            "user",
                                                            "system",
                                                            "user,system"
                                                        ],
                                                        "readOnly": true,
                                                        "type": "string",
                                                        "x-ms-enum": {
                                                            "modelAsString": true,
                                                            "name": "OperationOrigin"
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "readOnly": true,
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Operations"
                ],
                "x-ms-examples": {
                    "Lists all of the available Data Lake Store REST API operations": {
                        "parameters": {
                            "api-version": "2016-11-01"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "nextLink": "https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/contosorg/providers/Microsoft.DataLakeAnalytics/accounts/contosoadla/jobPolicies?api-version=2016-11-01&%24skiptoken=<token>",
                                    "value": [
                                        {
                                            "display": {
                                                "description": "Get available operations of DataLakeStore.",
                                                "operation": "Get Available Operations",
                                                "provider": "Microsoft DataLakeStore",
                                                "resource": "Available Operations"
                                            },
                                            "name": "Microsoft.DataLakeStore/operations/read"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.DataLakeStore/accounts": {
            "get": {
                "description": "Lists the Data Lake Store accounts within the subscription. The response includes a link to the next page of results, if any.",
                "operationId": "Accounts_List",
                "parameters": [
                    {
                        "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "OData filter. Optional.",
                        "in": "query",
                        "name": "$filter",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The number of items to return. Optional.",
                        "in": "query",
                        "name": "$top",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 1
                        }
                    },
                    {
                        "description": "The number of items to skip over before returning elements. Optional.",
                        "in": "query",
                        "name": "$skip",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 1
                        }
                    },
                    {
                        "description": "OData Select statement. Limits the properties on each entry to just those requested, e.g. Categories?$select=CategoryName,Description. Optional.",
                        "in": "query",
                        "name": "$select",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "OrderBy clause. One or more comma-separated expressions with an optional \"asc\" (the default) or \"desc\" depending on the order you'd like the values sorted, e.g. Categories?$orderby=CategoryName desc. Optional.",
                        "in": "query",
                        "name": "$orderby",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The Boolean value of true or false to request a count of the matching resources included with the resources in the response, e.g. Categories?$count=true. Optional.",
                        "in": "query",
                        "name": "$count",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the list of accounts.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Data Lake Store account list information response.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "The link (url) to the next page of results.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "The results of the list operation.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "description": "The resource model definition.",
                                                        "properties": {
                                                            "id": {
                                                                "description": "The resource identifier.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "description": "The resource location.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "The resource name.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "The resource tags.",
                                                                "readOnly": true,
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "description": "The resource type.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "x-ms-azure-resource": true,
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "Basic Data Lake Store account information, returned on list calls.",
                                                "properties": {
                                                    "properties": {
                                                        "description": "The basic Data Lake Store account properties.",
                                                        "readOnly": true,
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "accountId": {
                                                                "description": "The unique identifier associated with this Data Lake Store account.",
                                                                "format": "uuid",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "creationTime": {
                                                                "description": "The account creation time.",
                                                                "format": "date-time",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "endpoint": {
                                                                "description": "The full CName endpoint for this account.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "lastModifiedTime": {
                                                                "description": "The account last modified time.",
                                                                "format": "date-time",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "provisioningState": {
                                                                "description": "The provisioning status of the Data Lake Store account.",
                                                                "enum": [
                                                                    "Failed",
                                                                    "Creating",
                                                                    "Running",
                                                                    "Succeeded",
                                                                    "Patching",
                                                                    "Suspending",
                                                                    "Resuming",
                                                                    "Deleting",
                                                                    "Deleted",
                                                                    "Undeleting",
                                                                    "Canceled"
                                                                ],
                                                                "readOnly": true,
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": false,
                                                                    "name": "DataLakeStoreAccountStatus"
                                                                }
                                                            },
                                                            "state": {
                                                                "description": "The state of the Data Lake Store account.",
                                                                "enum": [
                                                                    "Active",
                                                                    "Suspended"
                                                                ],
                                                                "readOnly": true,
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": false,
                                                                    "name": "DataLakeStoreAccountState"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "readOnly": true,
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Accounts"
                ],
                "x-ms-examples": {
                    "Lists the Data Lake Store accounts within the subscription": {
                        "parameters": {
                            "api-version": "2016-11-01",
                            "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "nextLink": "https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/contosorg/providers/Microsoft.DataLakeStore/accounts/contosoadla/jobPolicies?api-version=2016-11-01&%24skiptoken=<token>",
                                    "value": [
                                        {
                                            "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                                            "location": "eastus2",
                                            "name": "contosoadla",
                                            "properties": {
                                                "accountId": "94f4bf5d-78a9-4c31-8aa7-b34d07bad898",
                                                "creationTime": "2017-04-14T13:21:56.6819037-07:00",
                                                "endpoint": "testadlfs17607.azuredatalakestore.net",
                                                "lastModifiedTime": "2017-04-14T13:21:56.6819037-07:00",
                                                "provisioningState": "Succeeded",
                                                "state": "Active"
                                            },
                                            "tags": {
                                                "test_key": "test_value"
                                            },
                                            "type": "test_type"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-ms-odata": "#/components/schemas/DataLakeStoreAccountBasic",
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.DataLakeStore/locations/{location}/capability": {
            "get": {
                "description": "Gets subscription-level properties and limits for Data Lake Store specified by resource location.",
                "operationId": "Locations_GetCapability",
                "parameters": [
                    {
                        "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The resource location without whitespace.",
                        "in": "path",
                        "name": "location",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the subscription-level properties and limits for Data Lake Store specified by resource location.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Subscription-level properties and limits for Data Lake Store.",
                                    "properties": {
                                        "accountCount": {
                                            "description": "The current number of accounts under this subscription.",
                                            "format": "int32",
                                            "readOnly": true,
                                            "type": "integer"
                                        },
                                        "maxAccountCount": {
                                            "description": "The maximum supported number of accounts under this subscription.",
                                            "format": "int32",
                                            "readOnly": true,
                                            "type": "integer"
                                        },
                                        "migrationState": {
                                            "description": "The Boolean value of true or false to indicate the maintenance state.",
                                            "readOnly": true,
                                            "type": "boolean"
                                        },
                                        "state": {
                                            "description": "The subscription state.",
                                            "enum": [
                                                "Registered",
                                                "Suspended",
                                                "Deleted",
                                                "Unregistered",
                                                "Warned"
                                            ],
                                            "readOnly": true,
                                            "type": "string",
                                            "x-ms-enum": {
                                                "modelAsString": true,
                                                "name": "SubscriptionState"
                                            }
                                        },
                                        "subscriptionId": {
                                            "description": "The subscription credentials that uniquely identifies the subscription.",
                                            "format": "uuid",
                                            "readOnly": true,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Subscription not found."
                    }
                },
                "tags": [
                    "Locations"
                ],
                "x-ms-examples": {
                    "Gets subscription-level properties and limits for Data Lake Store specified by resource location": {
                        "parameters": {
                            "api-version": "2016-11-01",
                            "location": "EastUS2",
                            "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "accountCount": 100,
                                    "maxAccountCount": 150,
                                    "migrationState": false,
                                    "state": "Registered",
                                    "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
                                }
                            },
                            "404": {}
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.DataLakeStore/locations/{location}/checkNameAvailability": {
            "post": {
                "description": "Checks whether the specified account name is available or taken.",
                "operationId": "Accounts_CheckNameAvailability",
                "parameters": [
                    {
                        "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The resource location without whitespace.",
                        "in": "path",
                        "name": "location",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the Data Lake Store account name availability information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Data Lake Store account name availability result information.",
                                    "properties": {
                                        "message": {
                                            "description": "The message describing why the Data Lake Store account name is not available, if nameAvailable is false.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "nameAvailable": {
                                            "description": "The Boolean value of true or false to indicate whether the Data Lake Store account name is available or not.",
                                            "readOnly": true,
                                            "type": "boolean"
                                        },
                                        "reason": {
                                            "description": "The reason why the Data Lake Store account name is not available, if nameAvailable is false.",
                                            "readOnly": true,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Accounts"
                ],
                "x-ms-examples": {
                    "Checks whether the specified account name is available or taken": {
                        "parameters": {
                            "api-version": "2016-11-01",
                            "location": "EastUS2",
                            "parameters": {
                                "name": "contosoadla",
                                "type": "Microsoft.DataLakeStore/accounts"
                            },
                            "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "message": "An account named 'abc' already exists.",
                                    "nameAvailable": false,
                                    "reason": "AlreadyExists"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Data Lake Store account name availability check parameters.",
                                "properties": {
                                    "name": {
                                        "description": "The Data Lake Store name to check availability for.",
                                        "type": "string"
                                    },
                                    "type": {
                                        "description": "The resource type. Note: This should not be set by the user, as the constant value is Microsoft.DataLakeStore/accounts",
                                        "enum": [
                                            "Microsoft.DataLakeStore/accounts"
                                        ],
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "name",
                                    "type"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "description": "Parameters supplied to check the Data Lake Store account name availability.",
                    "required": true
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts": {
            "get": {
                "description": "Lists the Data Lake Store accounts within a specific resource group. The response includes a link to the next page of results, if any.",
                "operationId": "Accounts_ListByResourceGroup",
                "parameters": [
                    {
                        "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the Azure resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "OData filter. Optional.",
                        "in": "query",
                        "name": "$filter",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The number of items to return. Optional.",
                        "in": "query",
                        "name": "$top",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 1
                        }
                    },
                    {
                        "description": "The number of items to skip over before returning elements. Optional.",
                        "in": "query",
                        "name": "$skip",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 1
                        }
                    },
                    {
                        "description": "OData Select statement. Limits the properties on each entry to just those requested, e.g. Categories?$select=CategoryName,Description. Optional.",
                        "in": "query",
                        "name": "$select",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "OrderBy clause. One or more comma-separated expressions with an optional \"asc\" (the default) or \"desc\" depending on the order you'd like the values sorted, e.g. Categories?$orderby=CategoryName desc. Optional.",
                        "in": "query",
                        "name": "$orderby",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "A Boolean value of true or false to request a count of the matching resources included with the resources in the response, e.g. Categories?$count=true. Optional.",
                        "in": "query",
                        "name": "$count",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the list of accounts in the specified resource group.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Data Lake Store account list information response.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "The link (url) to the next page of results.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "The results of the list operation.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "description": "The resource model definition.",
                                                        "properties": {
                                                            "id": {
                                                                "description": "The resource identifier.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "description": "The resource location.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "The resource name.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "The resource tags.",
                                                                "readOnly": true,
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "description": "The resource type.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "x-ms-azure-resource": true,
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "Basic Data Lake Store account information, returned on list calls.",
                                                "properties": {
                                                    "properties": {
                                                        "description": "The basic Data Lake Store account properties.",
                                                        "readOnly": true,
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "accountId": {
                                                                "description": "The unique identifier associated with this Data Lake Store account.",
                                                                "format": "uuid",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "creationTime": {
                                                                "description": "The account creation time.",
                                                                "format": "date-time",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "endpoint": {
                                                                "description": "The full CName endpoint for this account.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "lastModifiedTime": {
                                                                "description": "The account last modified time.",
                                                                "format": "date-time",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "provisioningState": {
                                                                "description": "The provisioning status of the Data Lake Store account.",
                                                                "enum": [
                                                                    "Failed",
                                                                    "Creating",
                                                                    "Running",
                                                                    "Succeeded",
                                                                    "Patching",
                                                                    "Suspending",
                                                                    "Resuming",
                                                                    "Deleting",
                                                                    "Deleted",
                                                                    "Undeleting",
                                                                    "Canceled"
                                                                ],
                                                                "readOnly": true,
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": false,
                                                                    "name": "DataLakeStoreAccountStatus"
                                                                }
                                                            },
                                                            "state": {
                                                                "description": "The state of the Data Lake Store account.",
                                                                "enum": [
                                                                    "Active",
                                                                    "Suspended"
                                                                ],
                                                                "readOnly": true,
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": false,
                                                                    "name": "DataLakeStoreAccountState"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "readOnly": true,
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Accounts"
                ],
                "x-ms-examples": {
                    "Lists the Data Lake Store accounts within a specific resource group": {
                        "parameters": {
                            "api-version": "2016-11-01",
                            "resourceGroupName": "contosorg",
                            "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "nextLink": "https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/contosorg/providers/Microsoft.DataLakeStore/accounts/contosoadla/jobPolicies?api-version=2016-11-01&%24skiptoken=<token>",
                                    "value": [
                                        {
                                            "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                                            "location": "eastus2",
                                            "name": "contosoadla",
                                            "properties": {
                                                "accountId": "94f4bf5d-78a9-4c31-8aa7-b34d07bad898",
                                                "creationTime": "2017-04-14T13:21:56.6819037-07:00",
                                                "endpoint": "testadlfs17607.azuredatalakestore.net",
                                                "lastModifiedTime": "2017-04-14T13:21:56.6819037-07:00",
                                                "provisioningState": "Succeeded",
                                                "state": "Active"
                                            },
                                            "tags": {
                                                "test_key": "test_value"
                                            },
                                            "type": "test_type"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-ms-odata": "#/components/schemas/DataLakeStoreAccountBasic",
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}": {
            "delete": {
                "description": "Deletes the specified Data Lake Store account.",
                "operationId": "Accounts_Delete",
                "parameters": [
                    {
                        "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the Azure resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the Data Lake Store account.",
                        "in": "path",
                        "name": "accountName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully deleted the specified account."
                    },
                    "202": {
                        "description": "Successfully initiated the deletion of the specified account."
                    },
                    "204": {
                        "description": "The specified account was not found."
                    }
                },
                "tags": [
                    "Accounts"
                ],
                "x-ms-examples": {
                    "Deletes the specified Data Lake Store account": {
                        "parameters": {
                            "accountName": "contosoadla",
                            "api-version": "2016-11-01",
                            "resourceGroupName": "contosorg",
                            "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
                        },
                        "responses": {
                            "200": {},
                            "202": {},
                            "204": {}
                        }
                    }
                },
                "x-ms-long-running-operation": true
            },
            "get": {
                "description": "Gets the specified Data Lake Store account.",
                "operationId": "Accounts_Get",
                "parameters": [
                    {
                        "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the Azure resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the Data Lake Store account.",
                        "in": "path",
                        "name": "accountName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved details of the specified account.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "The resource model definition.",
                                            "properties": {
                                                "id": {
                                                    "description": "The resource identifier.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "description": "The resource location.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "The resource name.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "tags": {
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "description": "The resource tags.",
                                                    "readOnly": true,
                                                    "type": "object"
                                                },
                                                "type": {
                                                    "description": "The resource type.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "x-ms-azure-resource": true,
                                            "type": "object"
                                        }
                                    ],
                                    "description": "Data Lake Store account information.",
                                    "properties": {
                                        "identity": {
                                            "description": "The Key Vault encryption identity, if any.",
                                            "readOnly": true,
                                            "properties": {
                                                "principalId": {
                                                    "description": "The principal identifier associated with the encryption.",
                                                    "format": "uuid",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "tenantId": {
                                                    "description": "The tenant identifier associated with the encryption.",
                                                    "format": "uuid",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "description": "The type of encryption being used. Currently the only supported type is 'SystemAssigned'.",
                                                    "enum": [
                                                        "SystemAssigned"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": false,
                                                        "name": "EncryptionIdentityType"
                                                    }
                                                }
                                            },
                                            "required": [
                                                "type"
                                            ],
                                            "type": "object"
                                        },
                                        "properties": {
                                            "description": "The Data Lake Store account properties.",
                                            "readOnly": true,
                                            "x-ms-client-flatten": true,
                                            "allOf": [
                                                {
                                                    "description": "The basic account specific properties that are associated with an underlying Data Lake Store account.",
                                                    "properties": {
                                                        "accountId": {
                                                            "description": "The unique identifier associated with this Data Lake Store account.",
                                                            "format": "uuid",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "creationTime": {
                                                            "description": "The account creation time.",
                                                            "format": "date-time",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "endpoint": {
                                                            "description": "The full CName endpoint for this account.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "lastModifiedTime": {
                                                            "description": "The account last modified time.",
                                                            "format": "date-time",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "provisioningState": {
                                                            "description": "The provisioning status of the Data Lake Store account.",
                                                            "enum": [
                                                                "Failed",
                                                                "Creating",
                                                                "Running",
                                                                "Succeeded",
                                                                "Patching",
                                                                "Suspending",
                                                                "Resuming",
                                                                "Deleting",
                                                                "Deleted",
                                                                "Undeleting",
                                                                "Canceled"
                                                            ],
                                                            "readOnly": true,
                                                            "type": "string",
                                                            "x-ms-enum": {
                                                                "modelAsString": false,
                                                                "name": "DataLakeStoreAccountStatus"
                                                            }
                                                        },
                                                        "state": {
                                                            "description": "The state of the Data Lake Store account.",
                                                            "enum": [
                                                                "Active",
                                                                "Suspended"
                                                            ],
                                                            "readOnly": true,
                                                            "type": "string",
                                                            "x-ms-enum": {
                                                                "modelAsString": false,
                                                                "name": "DataLakeStoreAccountState"
                                                            }
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            ],
                                            "properties": {
                                                "currentTier": {
                                                    "description": "The commitment tier in use for the current month.",
                                                    "enum": [
                                                        "Consumption",
                                                        "Commitment_1TB",
                                                        "Commitment_10TB",
                                                        "Commitment_100TB",
                                                        "Commitment_500TB",
                                                        "Commitment_1PB",
                                                        "Commitment_5PB"
                                                    ],
                                                    "readOnly": true,
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": false,
                                                        "name": "TierType"
                                                    }
                                                },
                                                "defaultGroup": {
                                                    "description": "The default owner group for all new folders and files created in the Data Lake Store account.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "encryptionConfig": {
                                                    "description": "The Key Vault encryption configuration.",
                                                    "readOnly": true,
                                                    "properties": {
                                                        "keyVaultMetaInfo": {
                                                            "description": "The Key Vault information for connecting to user managed encryption keys.",
                                                            "properties": {
                                                                "encryptionKeyName": {
                                                                    "description": "The name of the user managed encryption key.",
                                                                    "type": "string"
                                                                },
                                                                "encryptionKeyVersion": {
                                                                    "description": "The version of the user managed encryption key.",
                                                                    "type": "string"
                                                                },
                                                                "keyVaultResourceId": {
                                                                    "description": "The resource identifier for the user managed Key Vault being used to encrypt.",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "keyVaultResourceId",
                                                                "encryptionKeyName",
                                                                "encryptionKeyVersion"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "type": {
                                                            "description": "The type of encryption configuration being used. Currently the only supported types are 'UserManaged' and 'ServiceManaged'.",
                                                            "enum": [
                                                                "UserManaged",
                                                                "ServiceManaged"
                                                            ],
                                                            "type": "string",
                                                            "x-ms-enum": {
                                                                "modelAsString": false,
                                                                "name": "EncryptionConfigType"
                                                            }
                                                        }
                                                    },
                                                    "required": [
                                                        "type"
                                                    ],
                                                    "type": "object"
                                                },
                                                "encryptionProvisioningState": {
                                                    "description": "The current state of encryption provisioning for this Data Lake Store account.",
                                                    "enum": [
                                                        "Creating",
                                                        "Succeeded"
                                                    ],
                                                    "readOnly": true,
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": false,
                                                        "name": "EncryptionProvisioningState"
                                                    }
                                                },
                                                "encryptionState": {
                                                    "description": "The current state of encryption for this Data Lake Store account.",
                                                    "enum": [
                                                        "Enabled",
                                                        "Disabled"
                                                    ],
                                                    "readOnly": true,
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": false,
                                                        "name": "EncryptionState"
                                                    }
                                                },
                                                "firewallAllowAzureIps": {
                                                    "description": "The current state of allowing or disallowing IPs originating within Azure through the firewall. If the firewall is disabled, this is not enforced.",
                                                    "enum": [
                                                        "Enabled",
                                                        "Disabled"
                                                    ],
                                                    "readOnly": true,
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": false,
                                                        "name": "FirewallAllowAzureIpsState"
                                                    }
                                                },
                                                "firewallRules": {
                                                    "description": "The list of firewall rules associated with this Data Lake Store account.",
                                                    "items": {
                                                        "allOf": [
                                                            {
                                                                "description": "The resource model definition for a nested resource.",
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "The resource identifier.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "description": "The resource name.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "description": "The resource type.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "x-ms-azure-resource": true,
                                                                "type": "object"
                                                            }
                                                        ],
                                                        "description": "Data Lake Store firewall rule information.",
                                                        "properties": {
                                                            "properties": {
                                                                "description": "The firewall rule properties.",
                                                                "readOnly": true,
                                                                "x-ms-client-flatten": true,
                                                                "properties": {
                                                                    "endIpAddress": {
                                                                        "description": "The end IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "startIpAddress": {
                                                                        "description": "The start IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "readOnly": true,
                                                    "type": "array"
                                                },
                                                "firewallState": {
                                                    "description": "The current state of the IP address firewall for this Data Lake Store account.",
                                                    "enum": [
                                                        "Enabled",
                                                        "Disabled"
                                                    ],
                                                    "readOnly": true,
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": false,
                                                        "name": "FirewallState"
                                                    }
                                                },
                                                "newTier": {
                                                    "description": "The commitment tier to use for next month.",
                                                    "enum": [
                                                        "Consumption",
                                                        "Commitment_1TB",
                                                        "Commitment_10TB",
                                                        "Commitment_100TB",
                                                        "Commitment_500TB",
                                                        "Commitment_1PB",
                                                        "Commitment_5PB"
                                                    ],
                                                    "readOnly": true,
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": false,
                                                        "name": "TierType"
                                                    }
                                                },
                                                "trustedIdProviderState": {
                                                    "description": "The current state of the trusted identity provider feature for this Data Lake Store account.",
                                                    "enum": [
                                                        "Enabled",
                                                        "Disabled"
                                                    ],
                                                    "readOnly": true,
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": false,
                                                        "name": "TrustedIdProviderState"
                                                    }
                                                },
                                                "trustedIdProviders": {
                                                    "description": "The list of trusted identity providers associated with this Data Lake Store account.",
                                                    "items": {
                                                        "allOf": [
                                                            {
                                                                "description": "The resource model definition for a nested resource.",
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "The resource identifier.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "description": "The resource name.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "description": "The resource type.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "x-ms-azure-resource": true,
                                                                "type": "object"
                                                            }
                                                        ],
                                                        "description": "Data Lake Store trusted identity provider information.",
                                                        "properties": {
                                                            "properties": {
                                                                "description": "The trusted identity provider properties.",
                                                                "readOnly": true,
                                                                "x-ms-client-flatten": true,
                                                                "properties": {
                                                                    "idProvider": {
                                                                        "description": "The URL of this trusted identity provider.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "readOnly": true,
                                                    "type": "array"
                                                },
                                                "virtualNetworkRules": {
                                                    "description": "The list of virtual network rules associated with this Data Lake Store account.",
                                                    "items": {
                                                        "allOf": [
                                                            {
                                                                "description": "The resource model definition for a nested resource.",
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "The resource identifier.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "description": "The resource name.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "description": "The resource type.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "x-ms-azure-resource": true,
                                                                "type": "object"
                                                            }
                                                        ],
                                                        "description": "Data Lake Store virtual network rule information.",
                                                        "properties": {
                                                            "properties": {
                                                                "description": "The virtual network rule properties.",
                                                                "readOnly": true,
                                                                "x-ms-client-flatten": true,
                                                                "properties": {
                                                                    "subnetId": {
                                                                        "description": "The resource identifier for the subnet.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "readOnly": true,
                                                    "type": "array"
                                                }
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Accounts"
                ],
                "x-ms-examples": {
                    "Gets the specified Data Lake Store account": {
                        "parameters": {
                            "accountName": "contosoadla",
                            "api-version": "2016-11-01",
                            "resourceGroupName": "contosorg",
                            "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                                    "identity": {
                                        "principalId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                                        "tenantId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab346",
                                        "type": "SystemAssigned"
                                    },
                                    "location": "eastus2",
                                    "name": "contosoadla",
                                    "properties": {
                                        "accountId": "94f4bf5d-78a9-4c31-8aa7-b34d07bad898",
                                        "creationTime": "2017-04-14T13:21:56.6819037-07:00",
                                        "currentTier": "Consumption",
                                        "defaultGroup": "test_default_group",
                                        "encryptionConfig": {
                                            "keyVaultMetaInfo": {
                                                "encryptionKeyName": "test_encryption_key_name",
                                                "encryptionKeyVersion": "encryption_key_version",
                                                "keyVaultResourceId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
                                            },
                                            "type": "UserManaged"
                                        },
                                        "encryptionProvisioningState": "Succeeded",
                                        "encryptionState": "Enabled",
                                        "endpoint": "testadlfs17607.azuredatalakestore.net",
                                        "firewallAllowAzureIps": "Enabled",
                                        "firewallRules": [
                                            {
                                                "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                                                "name": "test_rule",
                                                "properties": {
                                                    "endIpAddress": "2.2.2.2",
                                                    "startIpAddress": "1.1.1.1"
                                                },
                                                "type": "test_type"
                                            }
                                        ],
                                        "firewallState": "Enabled",
                                        "lastModifiedTime": "2017-04-14T13:21:56.6819037-07:00",
                                        "newTier": "Consumption",
                                        "provisioningState": "Succeeded",
                                        "state": "Active",
                                        "trustedIdProviderState": "Enabled",
                                        "trustedIdProviders": [
                                            {
                                                "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                                                "name": "test_trusted_id_provider_name",
                                                "properties": {
                                                    "idProvider": "https://sts.windows.net/ea9ec534-a3e3-4e45-ad36-3afc5bb291c1"
                                                },
                                                "type": "test_type"
                                            }
                                        ]
                                    },
                                    "tags": {
                                        "test_key": "test_value"
                                    },
                                    "type": "test_type"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "description": "Updates the specified Data Lake Store account information.",
                "operationId": "Accounts_Update",
                "parameters": [
                    {
                        "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the Azure resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the Data Lake Store account.",
[...]
